baseURL = 'https://Ahmad-Zaki.github.io'

# Change the default theme to be use when building the site with Hugo
theme = "LoveIt"

# [en, zh-cn, fr, ...] determines default content language
defaultContentLanguage = "en"

# language code
languageCode = 'en-us'

publishDir = "docs"

[languages]
  [languages.en]
    weight = 1
    title = "Something I learned"
    languageCode = "en"
    languageName = "English"
    [[languages.en.menu.main]]
      identifier = "posts"
      pre = ""
      post = ""
      name = "Posts"
      url = "/posts/"
      title = ""
      weight = 1
    [[languages.en.menu.main]]
      identifier = "tags"
      pre = ""
      post = ""
      name = "Tags"
      url = "/tags/"
      title = ""
      weight = 2
    [[languages.en.menu.main]]
      identifier = "categories"
      pre = ""
      post = ""
      name = "Categories"
      url = "/categories/"
      title = ""
      weight = 3
    [[languages.en.menu.main]]
      identifier = "about"
      pre = ""
      post = ""
      name = "About"
      url = "/about/"
      title = "Know more about me!"
      weight = 4

#  [languages.ar]
#    weight = 1
#    title = "مما تعلمت"
#    languageCode = "ar"
#    languageName = "Arabic"
#    [[languages.ar.menu.main]]
#      identifier = "posts"
#      pre = ""
#      post = ""
#      name = "مقالات"
#      url = "/posts/"
#      title = ""
#      weight = 1
#    [[languages.ar.menu.main]]
#      identifier = "tags"
#      pre = ""
#      post = ""
#      name = "علامات"
#      url = "/tags/"
#      title = ""
#      weight = 2
#    [[languages.ar.menu.main]]
#      identifier = "categories"
#      pre = ""
#      post = ""
#      name = "تصنيفات"
#      url = "/categories/"
#      title = ""
#      weight = 3


[params]
  # LoveIt theme version
  version = "0.2.X"

  # site default theme ("light", "dark", "auto")
  defaultTheme = "auto"

  SEOTitle = "Ahmad Zaki Blog"
  keywords = "Machine Learning, Deep Learning, Neural Networks, Data Science"

  # which hash function used for SRI, when empty, no SRI is used
  # ("sha256", "sha384", "sha512", "md5")
  fingerprint = ""

  # date format
  dateFormat = "2006-01-02"
  # website images for Open Graph and Twitter Cards
  images = ["/logo.png"]

  # Header config
  [params.header]
    # desktop header mode ("fixed", "normal", "auto")
    desktopMode = "fixed"
    # mobile header mode ("fixed", "normal", "auto")
    mobileMode = "auto"
    # LoveIt NEW | 0.2.0 Header title config
    [params.header.title]
      # URL of the LOGO
      logo = ""
      # title name
      name = "Something I Learned"
      # you can add extra information before the name (HTML format is supported), such as icons
      pre = ""
      # you can add extra information after the name (HTML format is supported), such as icons
      post = ""
      # LoveIt NEW | 0.2.5 whether to use typeit animation for title name
      typeit = true

  # Footer config
  [params.footer]
    enable = true
    # Custom content (HTML format is supported)
    custom = ''
    # whether to show Hugo and theme info
    hugo = true
    # whether to show copyright info
    copyright = true
    # whether to show the author
    author = true
    # Site creation time
    since = 2021
    # ICP info only in China (HTML format is supported)
    icp = ""
    # license info (HTML format is supported)
    license = '<a rel="license external nofollow noopener noreffer" href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank">CC BY-NC 4.0</a>'

  # Section (all posts) page config
  [params.section]
    # special amount of posts in each section page
    paginate = 20
    # date format (month and day)
    dateFormat = "01-02"
    # amount of RSS pages
    rss = 10

  # Home page config
  [params.home]
    # amount of RSS pages
    rss = 10

    # Home page profile
    [params.home.profile]
      enable = true

      # Gravatar Email for preferred avatar in home page
      gravatarEmail = ""

      # URL of avatar shown in home page
      avatarURL = "/Pixal-me.png"

      # title shown in home page (HTML format is supported)
      title = "Ahmad Hesham Zaki"

      # subtitle shown in home page
      subtitle = "Avid learner. Machine learning enthusiast."

      # whether to use typeit animation for subtitle
      typeit = true

      # whether to show social links
      social = true

      # disclaimer (HTML format is supported)
      disclaimer = "Welcome to my blog 'Something I learned', where I share some of the stuff that I learned, and talk about other stuff that I like. Hopefully, you may find something useful in these articles as well."

    # Home page posts
    [params.home.posts]
      enable = true

      # special amount of posts in each home posts page
      paginate = 6

  # Page config
  [params.page]
    # whether to hide a page from home page
    hiddenFromHomePage = false

    # whether to hide a page from search results
    hiddenFromSearch = false

    # whether to enable twemoji
    twemoji = false

    # whether to enable lightgallery
    lightgallery = false

    # whether to enable the ruby extended syntax
    ruby = true

    # whether to enable the fraction extended syntax
    fraction = true

    # whether to enable the fontawesome extended syntax
    fontawesome = true

    # whether to show link to Raw Markdown content of the content
    linkToMarkdown = true

    # whether to show the full text content in RSS
    rssFullText = false

   # Table of the contents config
    [params.page.toc]
      # whether to enable the table of the contents
      enable = true

      # whether to keep the static table of the contents in front of the post
      keepStatic = false

      # whether to make the table of the contents in the sidebar automatically collapsed
      auto = true

    # KaTeX mathematical formulas
    [params.page.math]
      enable = true

      # default block delimiter is $$ ... $$ and \\[ ... \\]
      blockLeftDelimiter = ""
      blockRightDelimiter = ""

      # default inline delimiter is $ ... $ and \\( ... \\)
      inlineLeftDelimiter = ""
      inlineRightDelimiter = ""

      # KaTeX extension copy_tex
      copyTex = true

      # KaTeX extension mhchem
      mhchem = true

   # Code config
    [params.page.code]
      # whether to show the copy button of the code block
      copy = true

      # the maximum number of lines of displayed code by default
      maxShownLines = 10

    # Mapbox GL JS config
    [params.page.mapbox]
      # access token of Mapbox GL JS
      accessToken = ""

      # style for the light theme
      lightStyle = "mapbox://styles/mapbox/light-v9"

      # style for the dark theme
      darkStyle = "mapbox://styles/mapbox/dark-v9"

      # whether to add NavigationControl
      navigation = true

      # whether to add GeolocateControl
      geolocate = true

      # whether to add ScaleControl
      scale = true

      # whether to add FullscreenControl
      fullscreen = true

    # social share links in post page
    [params.page.share]
      enable = true
      Twitter = true
      Facebook = true
      Linkedin = true
      Whatsapp = true
      Pinterest = false
      Tumblr = false
      HackerNews = false
      Reddit = false
      VK = false
      Buffer = false
      Xing = false
      Line = true
      Instapaper = false
      Pocket = false
      Digg = false
      Stumbleupon = false
      Flipboard = false
      Weibo = false
      Renren = false
      Myspace = true
      Blogger = true
      Baidu = false
      Odnoklassniki = false
      Evernote = true
      Skype = false
      Trello = false
      Mix = false

  # Social config about the author
  [params.social]
    GitHub = "Ahmad-Zaki"
    Linkedin = "ahmad-el-kholi"
    Twitter = ""
    Instagram = ""
    Facebook = ""
    Telegram = ""
    Medium = ""
    Gitlab = ""
    Youtubelegacy = ""
    Youtubecustom = ""
    Youtubechannel = ""
    Tumblr = ""
    Quora = ""
    Keybase = ""
    Pinterest = ""
    Reddit = ""
    Codepen = ""
    FreeCodeCamp = ""
    Bitbucket = ""
    Stackoverflow = ""
    Weibo = ""
    Odnoklassniki = ""
    VK = ""
    Flickr = ""
    Xing = ""
    Snapchat = ""
    Soundcloud = ""
    Spotify = ""
    Bandcamp = ""
    Paypal = ""
    Fivehundredpx = ""
    Mix = ""
    Goodreads = ""
    Lastfm = ""
    Foursquare = ""
    Hackernews = ""
    Kickstarter = ""
    Patreon = ""
    Steam = ""
    Twitch = ""
    Strava = ""
    Skype = ""
    Whatsapp = ""
    Zhihu = ""
    Douban = ""
    Angellist = ""
    Slidershare = ""
    Jsfiddle = ""
    Deviantart = ""
    Behance = ""
    Dribbble = ""
    Wordpress = ""
    Vine = ""
    Googlescholar = ""
    Researchgate = ""
    Mastodon = ""
    Thingiverse = ""
    Devto = ""
    Gitea = ""
    XMPP = ""
    Matrix = ""
    Bilibili = ""
    Email = "ahmadheshamzaki@gmail.com"
    RSS = true

    # Comment config
    [params.page.comment]
      enable = true

      # Disqus comment config
      [params.page.comment.disqus]
        enable = false
        # Disqus shortname to use Disqus in posts
        shortname = ""

      # Gitalk comment config
      [params.page.comment.gitalk]
        enable = false
        owner = ""
        repo = ""
        clientId = ""
        clientSecret = ""

      # Valine comment config
      [params.page.comment.valine]
        enable = false
        appId = ""
        appKey = ""
        placeholder = ""
        avatar = "mp"
        meta= ""
        pageSize = 10
        lang = ""
        visitor = true
        recordIP = true
        highlight = true
        enableQQ = false
        serverURLs = ""
        # emoji data file name, default is "google.yml"
        # ("apple.yml", "google.yml", "facebook.yml", "twitter.yml")
        # located in "themes/LoveIt/assets/data/emoji/" directory
        # you can store your own data files in the same path under your project:
        # "assets/data/emoji/"
        emoji = ""

      # Facebook comment config
      [params.page.comment.facebook]
        enable = false
        width = "100%"
        numPosts = 10
        appId = ""
        languageCode = ""

      # Telegram comments config
      [params.page.comment.telegram]
        enable = false
        siteID = ""
        limit = 5
        height = ""
        color = ""
        colorful = true
        dislikes = false
        outlined = false

      # Commento comment config
      [params.page.comment.commento]
        enable = false

      # Utterances comment config
      [params.page.comment.utterances]
        enable = false
        # owner/repo
        repo = ""
        issueTerm = "pathname"
        label = ""
        lightTheme = "github-light"
        darkTheme = "github-dark"

    # Third-party library config
    [params.page.library]
      [params.page.library.css]
        # someCSS = "some.css"
        # located in "assets/"
        # Or
        # someCSS = "https://cdn.example.com/some.css"

      [params.page.library.js]
        # someJavascript = "some.js"
        # located in "assets/"
        # Or
        # someJavascript = "https://cdn.example.com/some.js"

    # Page SEO config
    [params.page.seo]
      # image URL
      images = []

      # Publisher info
      [params.page.seo.publisher]
        name = "Ahmad Zaki"
        logoUrl = ""

  # TypeIt config
  [params.typeit]
    # typing speed between each step (measured in milliseconds)
    speed = 100

    # blinking speed of the cursor (measured in milliseconds)
    cursorSpeed = 1000

    # character used for the cursor (HTML format is supported)
    cursorChar = "|"

    # cursor duration after typing finishing (measured in milliseconds, "-1" means unlimited)
    duration = -1

  # Site verification code config for Google/Bing/Yandex/Pinterest/Baidu
  [params.verification]
    google = ""
    bing = ""
    yandex = ""
    pinterest = ""
    baidu = ""

  # Analytics config
  [params.analytics]
    enable = false

    # Google Analytics
    [params.analytics.google]
      id = ""
      # whether to anonymize IP
      anonymizeIP = true

    # Fathom Analytics
    [params.analytics.fathom]
      id = ""
      # server url for your tracker if you're self hosting
      server = ""

# Privacy config
[privacy]
  [privacy.twitter]
    enableDNT = true

  [privacy.youtube]
    privacyEnhanced = true


  # CDN config for third-party library files
  [params.cdn]
    # CDN data file name, disabled by default
    # ("jsdelivr.yml")
    # located in "themes/LoveIt/assets/data/cdn/" directory
    # you can store your own data files in the same path under your project:
    # "assets/data/cdn/"
    data = ""

  # Cookie consent config
  [params.cookieconsent]
    enable = true

    # text strings used for Cookie consent banner
    [params.cookieconsent.content]
      message = ""
      dismiss = ""
      link = ""

  # Compatibility config
  [params.compatibility]
    # whether to use Polyfill.io to be compatible with older browsers
    polyfill = false

    # whether to use object-fit-images to be compatible with older browsers
    objectFit = false

  # Search config
  [params.search]
    enable = true
    # type of search engine ("lunr", "algolia")
    type = "lunr"
    # max index length of the chunked content
    contentLength = 4000
    # placeholder of the search bar
    placeholder = "Look for an article"
    # max number of results length
    maxResultLength = 10
    # snippet length of the result
    snippetLength = 30
    # HTML tag name of the highlight part in results
    highlightTag = "em"
    # whether to use the absolute URL based on the baseURL in search index
    absoluteURL = false
    [params.search.algolia]
      index = ""
      appID = ""
      searchKey = ""

  # App icon config
  [params.app]
    # optional site title override for the app when added to an iOS home screen or Android launcher
    title = "مما تعلمت"
    # whether to omit favicon resource links
    noFavicon = false
    # modern SVG favicon to use in place of older style .png and .ico files
    svgFavicon = ""
    # Android browser theme color
    themeColor = "#ffffff"
    # Safari mask icon color
    iconColor = "#5bbad5"
    # Windows v8-10 tile color
    tileColor = "#da532c"

[menu]
  [[menu.main]]
    identifier = "posts"
    # you can add extra information before the name (HTML format is supported), such as icons
    pre = ""
    # you can add extra information after the name (HTML format is supported), such as icons
    post = ""
    name = "Posts"
    url = "/posts/"
    # title will be shown when you hover on this menu link
    title = ""
    weight = 1
  [[menu.main]]
    identifier = "tags"
    pre = ""
    post = ""
    name = "Tags"
    url = "/tags/"
    title = ""
    weight = 2
  [[menu.main]]
    identifier = "categories"
    pre = ""
    post = ""
    name = "Categories"
    url = "/categories/"
    title = ""
    weight = 3

# Author config
[author]
  name = "Ahmad Zaki"
  email = "ahmadheshamzaki@gmail.com"
  link = ""

# Sitemap config
[sitemap]
  changefreq = "weekly"
  filename = "sitemap.xml"
  priority = 0.5

# Permalinks config
[Permalinks]
  # posts = ":year/:month/:filename"
  posts = ":filename"

# Options to make output .md files
[mediaTypes]
  [mediaTypes."text/plain"]
    suffixes = ["md"]

# Options to make output .md files
[outputFormats.MarkDown]
  mediaType = "text/plain"
  isPlainText = true
  isHTML = false

# Markup related config in Hugo
[markup]
  # Syntax Highlighting
  [markup.highlight]
    codeFences = true
    guessSyntax = true
    lineNos = true
    lineNumbersInTable = true
    # false is a necessary configuration
    # (https://github.com/dillonzq/LoveIt/issues/158)
    noClasses = false

  # Goldmark is from Hugo 0.60 the default library used for Markdown
  [markup.goldmark]
    [markup.goldmark.extensions]
      definitionList = true
      footnote = true
      linkify = true
      strikethrough = true
      table = true
      taskList = true
      typographer = true

    [markup.goldmark.renderer]
      # whether to use HTML tags directly in the document
      unsafe = true

  # Table Of Contents settings
  [markup.tableOfContents]
    startLevel = 2
    endLevel = 6

# Options to make hugo output files
[outputs]
  home = ["HTML", "RSS", "JSON"]
  page = ["HTML", "MarkDown"]
  section = ["HTML", "RSS"]
  taxonomy = ["HTML", "RSS"]
  taxonomyTerm = ["HTML"]
